numpy~=1.19.5
optuna~=2.0.0
setuptools~=41.6.0
torch>=1.7
pytorch_lightning>=1.0.0
json>=1.0.0
h5py>=3.0.0
ruamel.yaml>=0.16.0
gitpython>=3.0.0


matplotlib~=3.3.1
numba~=0.51.1
tensorboard~=2.4.1
spconv~=1.2.1
scipy~=1.4.1
pytz~=2020.5
torchmetrics~=0.2.0